* {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100%;
    background: #333333;  /* fallback for old browsers */
    color: #fcf4e3;
}

#Hinter{
    font-size: 16px;
}

#timer {
    font-size: 25px;
    color: #fcf4e3;
    border: none;
}

#header_text {
    font-size: 30px;
    color: #fcf4e3;
    border: none;
}

#header {
    font-size: 20px;
    color: #fcf4e3;
    display: flex;
    border: none;
    margin-bottom: 15px;
    justify-content: space-between;
}

#header_button {
    text-decoration: none;
    border: none;
    background: #320a18;
    border-radius: 10px;
    color: #fcf4e3;
    outline: none;
    padding: 8px;
    font-size: 20px;
    width: 30 %;
    font-weight: bold;
}

.work{
    display: flex;
    border: none;
    justify-content: center;
}

.black5{
    color: #fcf4e3;
    background: black;
    font-size: 30px;
    margin: 0.5%;
    width: 100px;
    border: none;
    border-radius: 9px;
    height: 100px;
    margin-bottom: 0.5%;
}

.black6{
    color: #fcf4e3;
    background: black;
    font-size: 30px;
    margin: 0.5%;
    width: 90px;
    border: none;
    border-radius: 9px;
    height: 90px;
    margin-bottom: 0.5%;
}

.black7{
    color: #fcf4e3;
    background: black;
    font-size: 30px;
    margin: 0.5%;
    width: 75px;
    border: none;
    border-radius: 9px;
    height: 75px;
    margin-bottom: 0.5%;
}

.black8{
    color: #fcf4e3;
    background: black;
    font-size: 30px;
    margin: 0.3%;
    width: 60px;
    border: none;
    border-radius: 8px;
    height: 60px;
    margin-bottom: 0.3%;
}

.black9{
    color: #fcf4e3;
    background: black;
    font-size: 30px;
    margin: 0.3%;
    width: 56px;
    border: none;
    border-radius: 7px;
    height: 56px;
    margin-bottom: 0.3%;
}

.black10{
    color: #fcf4e3;
    background: black;
    font-size: 30px;
    margin: 0.2%;
    width: 55px;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-bottom: 0.2%;
}

.white5{
    font-size: 30px;
    margin: 0.5%;
    width: 100px;
    border: none;
    background: #fcf4e3;
    color: black;
    border-radius: 9px;
    height: 100px;
    margin-bottom: 0.5%;
}

.white6{
    color: black;
    background: #fcf4e3;
    font-size: 30px;
    margin: 0.5%;
    width: 90px;
    border: none;
    border-radius: 9px;
    height: 90px;
    margin-bottom: 0.5%;
}

.white7{
    color: black;
    background: #fcf4e3;
    font-size: 30px;
    margin: 0.5%;
    width: 75px;
    border: none;
    border-radius: 9px;
    height: 75px;
    margin-bottom: 0.5%;
}

.white8{
    color: black;
    background: #fcf4e3;
    font-size: 30px;
    margin: 0.3%;
    width: 60px;
    border: none;
    border-radius: 8px;
    height: 60px;
    margin-bottom: 0.3%;
}

.white9{
    color: black;
    background: #fcf4e3;
    font-size: 30px;
    margin: 0.3%;
    width: 56px;
    border: none;
    border-radius: 7px;
    height: 56px;
    margin-bottom: 0.3%;
}

.white10{
    color: black;
    background: #fcf4e3;
    font-size: 30px;
    margin: 0.2%;
    width: 55px;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-bottom: 0.2%;
}

.green{
    background: green;
}

.red{
    background: red;
}