* {
    font-family: "Roboto", sans-serif;

}

body {
    height: 100%;
    background: #333333;  /* fallback for old browsers */
    color: #fcf4e3;
    font-size: 20px;
    font-weight: bold;
}

.text{
    font-size: 16px;
}

#start{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    border: none;
    background: #320a18;
    border-radius: 10px;
    padding: 20px;
    color: #fcf4e3;
    outline: none;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25%;
}

input {
    margin-top: 10px
    border:1px solid #320a18;
    padding: 5px;
    border-radius:8px;
    background: rgba(0, 0, 0, .5);
    width: 50%;
    font-size: 20px;
    color: #fcf4e3;
}

#header {
    font-size: 20px;
    color: #fcf4e3;
    display: flex;
    border: none;
    margin-bottom: 15px;
    justify-content: space-between;
}

#header_button {
    text-decoration: none;
    border: none;
    background: #320a18;
    border-radius: 10px;
    color: #fcf4e3;
    outline: none;
    padding: 8px;
    font-size: 20px;
    width: 30 %;
    font-weight: bold;
}

#header_text {
    font-size: 30px;
    color: #fcf4e3;
    border: none;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.brown {
    color: #663300;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 40%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container #red_checkbox:checked ~ .checkmark {
  background-color: red;
}

.container #blue_checkbox:checked ~ .checkmark {
  background-color: blue;
}

.container #green_checkbox:checked ~ .checkmark {
  background-color: green;
}

.container #yellow_checkbox:checked ~ .checkmark {
  background-color: yellow;
}

.container #brown_checkbox:checked ~ .checkmark {
  background-color: #663300;
}

.container #purple_checkbox:checked ~ .checkmark {
  background-color: purple;
}

.container #white_checkbox:checked ~ .checkmark {
  background-color: #fcf4e3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 40%;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

